#!/bin/bash

set -euo pipefail

# Pre-flight check function for Ansible - Exit if Ansible is already installed
check_ansible_installed() {
    if command -v ansible &>/dev/null; then
        echo "[chezmoi] Ansible is already installed."
        exit 0
    fi
}

# Function to check if Ansible exists post-installation and its version - Exit with error if not found
check_ansible_version() {
    if command -v ansible &>/dev/null; then
        echo "[chezmoi] Ansible is installed successfully."
        ANSIBLE_VERSION=$(ansible --version | head -n 1 | awk '{print $2}')
        echo "[chezmoi] Ansible version: $ANSIBLE_VERSION"
    else
        echo "[chezmoi] Ansible did not install properly! Please check the installation logs."
        exit 1
    fi
}

# Function to install Ansible based on the OS
install_ansible() {
    {{ if eq .osid "darwin" }}
    # macOS-specific code
    if ! command -v brew &>/dev/null; then
        echo "[chezmoi] Homebrew is not installed. Please install Homebrew first and re-run this Chezmoi setup."
        exit 1
    fi
    brew update
    brew install ansible || true
    check_ansible_version

    {{ else if eq .osid "linux-arch" }}
    # Arch Linux-specific code
    sudo pacman -S --noconfirm --needed ansible || true
    check_ansible_version

    {{ else if eq .osid "linux-debian" }}
    sudo DEBIAN_FRONTEND=noninteractive
    sudo apt-get update -qq
    sudo apt-get install -y -qq wget gpg
    # Get debian code name
    DEBIAN_CODENAME=$(. /etc/os-release && echo $VERSION_CODENAME)
    wget -qO- "https://keyserver.ubuntu.com/pks/lookup?fingerprint=on&op=get&search=0x6125E2A8C77F2818FB7BD15B93C4A3FD7BB9C367" | sudo gpg --dearmour -o /usr/share/keyrings/ansible-archive-keyring.gpg
    echo "deb [signed-by=/usr/share/keyrings/ansible-archive-keyring.gpg] http://ppa.launchpad.net/ansible/ansible/ubuntu $DEBIAN_CODENAME main" | sudo tee /etc/apt/sources.list.d/ansible.list > /dev/null
    sudo apt-get update -qq
    sudo apt-get install -y -qq software-properties-common python3 python3-pip
    sudo apt-get install -y -qq ansible
    check_ansible_version

    {{ else if eq .osid "linux-ubuntu" }}
    sudo apt update
    sudo apt install software-properties-common python3 python3-pip -y -qq
    sudo add-apt-repository -y -update ppa:ansible/ansible
    sudo apt install -y ansible
    check_ansible_version

    {{ else if eq .osid "linux-fedora" }}
    # Fedora-specific code
    sudo dnf install -y ansible || true
    check_ansible_version
    {{ end }}
}

echo "[chezmoi] Prewarming sudo..."
sudo true
echo "[chezmoi] Checking if Ansible is already installed..."
check_ansible_installed
echo "[chezmoi] Installing Ansible..."
echo "[chezmoi] This may take a while, please be patient..."
install_ansible
echo "[chezmoi] Ansible installation completed successfully!"
