#!/bin/bash

misc='$HOME/.dotfiles/misc.zsh'

echo "debug - misc file: $misc"

# Use 1Password CLI to pull the functions from 1Password and write to misc.zsh
op document get 'mahk57xrxjnndw6ew2kjncd6vq' --out-file $misc

echo "Functions file fetched and saved as $misc"
source $misc
