#!/bin/bash
{{ if eq .chezmoi.os "linux" }}

set -euo pipefail

echo "[chezmoi] Running Ansible playbook..."

ansible-playbook ~/.local/share/chezmoi/playbooks/bootstrap.yml --connection=local

{{ end }}