#!/bin/bash

# Use 1Password CLI to pull the functions from 1Password and write to misc.zsh
op document get 'mahk57xrxjnndw6ew2kjncd6vq' > ~/.dotfiles/misc.zsh

# Ensure proper permissions for the file
chmod 600 ~/.dotfiles/misc.zsh

echo "Functions file fetched and saved as ~/.dotfiles/misc.zsh"
